<!DOCTYPE html>
<!--ホーム画面-->
<html>
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <h1>ホーム</h1>

    <p><form method="get" action="{% url 'mychat:search' %}">
    <input type="text" name="search" placeholder="キーワードを入力してください" >
    <input type="submit" value="検索">
    </form>
</p>

    <p><a href="{% url 'mychat:write' %}">投稿</a></p>
    <p><a href="{% url 'mychat:recom' %}">新着</a></p>
    <p><a href="{% url 'mychat:map' %}">マップ</a></p>
    <p><a href="{% url 'mychat:list' %}">あなたの投稿</a></p>


</body>
</html>
